---
// src/components/sections/About.astro
---

<section class="max-w-content mx-auto mt-42 px-4 relative">
    <div class="p-3 sm:p-[35px] rtl:lg:pr-7 ltr:lg:pl-7 grid grid-cols-12 gap-y-8 gap-5 relative">
        <img alt="img" src="/images/Rectangle6.png" class="absolute hidden md:block inset-0 w-full h-full ltrReverse drop-shadow-1">
        <img alt="img" src="/images/Pattern.png" class="absolute block md:hidden inset-0 w-full h-full ltrReverse drop-shadow-1">
        <div class="lg:col-span-4 col-span-12 relative">
            <div class="-mt-5 sm:-mt-[35px] relative rtl:sm:-right-[27px] ltr:sm:-left-[27px] rtl:ml-16 rtl:md:ml-[21px] ltr:mr-16 ltr:md:mr-[21px] rounded-[20px] sm:rounded-[30px] bg-primary flex items-center gap-3 px-5 py-7 min-h-[76px] sm:min-h-[116px]">
                <svg class="absolute inset-y-0 ltr:-right-[28px] rtl:rotate-90 ltr:-rotate-90 my-auto rtl:-left-[28px] z-10" width="44" height="24" viewBox="0 0 74 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M73.603 0H0C14.1842 0 27.3009 7.53381 34.4478 19.7859L36.8642 23.9282L39.2806 19.7859C46.4065 7.57007 59.4669 0.0443115 73.603 0Z" fill="#110e2d"></path>
                </svg>
                <div class="relative">
                    <div class="w-5 h-5 shadow-5 absolute top-1 rtl:right-2 ltr:left-2 bg-primary"></div>
                    <svg class="relative" width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.4412 5.35499C17.9737 4.80999 17.3225 2.62999 15.65 2.50499C15.5501 2.49899 15.4499 2.49899 15.35 2.50499C13.6787 2.62999 13.0275 4.80999 11.56 5.35499C10.0062 5.93124 7.88122 4.74999 6.56622 6.06499C5.29997 7.33124 6.41997 9.53749 5.85497 11.0587C5.27872 12.615 2.86372 13.2587 3.00497 15.15C3.13122 16.8212 5.31122 17.4737 5.85497 18.9412C6.41997 20.4625 5.29997 22.6687 6.56622 23.935C7.88122 25.25 10.0062 24.0687 11.56 24.645C13.0262 25.19 13.6787 27.37 15.3512 27.495C15.4512 27.5025 15.5508 27.5025 15.65 27.495C17.3225 27.37 17.975 25.19 19.4412 24.645C20.9625 24.0812 23.1687 25.2012 24.435 23.935C25.7937 22.5762 24.485 20.3725 25.2025 18.8025C25.865 17.3575 28.1325 16.68 27.995 14.8512C27.87 13.1787 25.6912 12.5262 25.145 11.0587C24.57 9.50499 25.75 7.38124 24.435 6.06499C23.12 4.74874 20.995 5.93124 19.4412 5.35499Z" stroke="#EE5D38" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M15.8022 20V15C15.8022 14.4113 15.8022 14.1162 15.6197 13.9325C15.436 13.75 15.1422 13.75 14.5522 13.75M15.4897 10H15.5022" stroke="#EE5D38" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
                <div>
                    <p class="text-xl rtl:font-iranSansBlack ltr:font-MontserratBold text-white">درباره ما</p>
                    <p class="text-white opacity-50 hidden sm:block text-sm mt-2">در مورد تیم حرفه‌ای مافیکسو و خدمات ما بیشتر بدانید</p>
                </div>
            </div>
            <img alt="img" src="/images/Group1.png" class="w-full mt-3 rounded-[20px]">
        </div>
        <div class="lg:col-span-8 col-span-12 relative">
            <div class="rounded-[20px] sm:rounded-[30px] bg-white h-full relative p-7 opacity-70 leading-10 shadow-2">
                <svg class="absolute rtl:right-8 rtl:lg:-right-7 ltr:left-8 ltr:lg:-left-7 rotate-180 lg:-rotate-90 ltr:lg:rotate-90 mx-auto md:mx-0 -top-[18px] lg:top-8 z-10" width="44" height="24" viewBox="0 0 74 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M73.603 0H0C14.1842 0 27.3009 7.53381 34.4478 19.7859L36.8642 23.9282L39.2806 19.7859C46.4065 7.57007 59.4669 0.0443115 73.603 0Z" fill="white"></path>
                </svg>
                <img alt="img" src="/images/Frame1.png" class="absolute top-0 rtl:left-0 ltr:right-0 ltrReverse opacity-70">
                <p class="relative text-sm sm:text-base leading-8 sm:leading-10 text-justify">
                    مافیکسو یک سیستم مدیریت تعمیرات جامع و هوشمند است که با هدف ساده‌سازی و بهینه‌سازی فرآیندهای تعمیرگاه‌های موبایل، لپ‌تاپ و دستگاه‌های الکترونیکی طراحی شده است. تیم ما متشکل از برنامه‌نویسان، طراحان و کارشناسان صنعت تعمیرات است که بیش از ۵ سال تجربه در توسعه نرم‌افزارهای مدیریتی دارند.
                    <br><br>
                    در هسته مافیکسو، تعهد به کیفیت، دقت و رضایت مشتری نهفته است. ما با درک عمیق از چالش‌های تعمیرگاه‌ها، راهکاری یکپارچه ارائه می‌دهیم که تمامی نیازهای مدیریتی از پذیرش دستگاه تا تحویل نهایی را پوشش می‌دهد. رویکرد ما بر اساس همکاری و درک متقابل با تعمیرکاران شکل گرفته و با انجام ارزیابی‌های کامل از فرآیندهای موجود، راه‌حلی متناسب با نیاز هر تعمیرگاه ارائه می‌دهیم.
                   
                </p>
            </div>
        </div>
    </div>
    <div class="rounded-b-[15px] sm:rounded-b-[30px] bg-white shadow-2 h-5 mx-[30px] relative"></div>
    <div class="rounded-b-[15px] sm:rounded-b-[30px] bg-white shadow-2 h-5 mx-[59px] relative"></div>
</section>