---
// src/components/sections/Stats.astro
---
<div class="max-w-[1450px] mx-auto px-4 relative mt-42">
<div class= " p-3 xl:p-7 grid grid-cols-12 gap-y-7 sm:gap-8 relative w-full">
    <img alt="img" src="/images/Rectangle4.png" class="absolute hidden md:block inset-0 w-full h-full ltrReverse drop-shadow-1">
    <img alt="img" src="/images/Rectangle5.png" class="-top-5 absolute mx-auto block md:hidden inset-0 w-[88%] h-full ltrReverse drop-shadow-1">
    <img alt="img" src="/images/Rectangle5.png" class="absolute block md:hidden inset-0 w-full h-full ltrReverse drop-shadow-1">
    <div class="md:col-span-4 col-span-12 relative lg:block flex flex-col justify-between gap-2">
        <div class="-mt-[18px] md:-mt-0 relative rounded-[20px] sm:rounded-[30px] rtl:ml-20 rtl:md:ml-0 ltr:mr-20 ltr:md:mr-0 bg-primary flex items-center gap-3 px-5 py-7 min-h-[76px] sm:min-h-[116px]">
            <svg class="absolute inset-y-0 ltr:-right-[28px] rtl:rotate-90 ltr:-rotate-90 my-auto rtl:-left-[28px] z-10" width="44" height="24" viewBox="0 0 74 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M73.603 0H0C14.1842 0 27.3009 7.53381 34.4478 19.7859L36.8642 23.9282L39.2806 19.7859C46.4065 7.57007 59.4669 0.0443115 73.603 0Z" fill="#110e2d"></path>
            </svg>
            <div class="relative">
                <div class="w-5 h-5 shadow-5 absolute top-1 rtl:right-2 ltr:left-2 bg-primary"></div>
                <svg class="relative" width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.4412 5.35499C17.9737 4.80999 17.3225 2.62999 15.65 2.50499C15.5501 2.49899 15.4499 2.49899 15.35 2.50499C13.6787 2.62999 13.0275 4.80999 11.56 5.35499C10.0062 5.93124 7.88122 4.74999 6.56622 6.06499C5.29997 7.33124 6.41997 9.53749 5.85497 11.0587C5.27872 12.615 2.86372 13.2587 3.00497 15.15C3.13122 16.8212 5.31122 17.4737 5.85497 18.9412C6.41997 20.4625 5.29997 22.6687 6.56622 23.935C7.88122 25.25 10.0062 24.0687 11.56 24.645C13.0262 25.19 13.6787 27.37 15.3512 27.495C15.4512 27.5025 15.5508 27.5025 15.65 27.495C17.3225 27.37 17.975 25.19 19.4412 24.645C20.9625 24.0812 23.1687 25.2012 24.435 23.935C25.7937 22.5762 24.485 20.3725 25.2025 18.8025C25.865 17.3575 28.1325 16.68 27.995 14.8512C27.87 13.1787 25.6912 12.5262 25.145 11.0587C24.57 9.50499 25.75 7.38124 24.435 6.06499C23.12 4.74874 20.995 5.93124 19.4412 5.35499Z" stroke="#EE5D38" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M15.8022 20V15C15.8022 14.4113 15.8022 14.1162 15.6197 13.9325C15.436 13.75 15.1422 13.75 14.5522 13.75M15.4897 10H15.5022" stroke="#EE5D38" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </div>
            <div>
                <p class="text-xl rtl:font-iranSansBlack ltr:font-MontserratBold text-white">آمار و ارقام</p>
                <p class="text-white opacity-50 text-md mt-2 hidden sm:block">آنچه اعداد در مورد مافیکسو می‌گویند</p>
            </div>
        </div>
        <div class="mt-6 flex items-center justify-between gap-4 lg:gap-6">
            <div>
                <p class="rtl:font-rokhFaNumBold ltr:font-MontserratBold text-xl rtl:text-left ltr:text-right">
                    ۱۸۰۰+</p>
                <p class="opacity-40 text-xs -mt-1.5 rtl:text-left ltr:text-right">دستگاه تعمیر شده</p>
            </div>
            <div class="w-[1px] h-[38px] bg-[#00000011]"></div>
            <div class="flex items-center justify-end gap-3">
                <div>
                    <p class="rtl:font-rokhFaNumBold ltr:font-MontserratBold text-xl rtl:text-left ltr:text-right">
                        ۲۰۰+</p>
                    <p class="opacity-40 text-xs -mt-1.5 rtl:text-left ltr:text-right">مشتری فعال</p>
                </div>
                <div class="flex items-center">
                    <img alt="img" src="/images/pngs/01_683ccf08da285.png" class="sm:w-9 w-8 sm:h-9 h-8 rounded-full border-3 border-white rtl:-mr-3 ltr:-ml-3 z-3 relative">
                    <img alt="img" src="/images/pngs/05_683cce56d5226.png" class="sm:w-9 w-8 sm:h-9 h-8 rounded-full border-3 border-white rtl:-mr-3 ltr:-ml-3 z-2 relative">
                    <img alt="img" src="/images/pngs/03_6838f5ee6092a.png" class="sm:w-9 w-8 sm:h-9 h-8 rounded-full border-3 border-white rtl:-mr-3 ltr:-ml-3 z-1 relative">
                </div>
            </div>
        </div>
    </div>
    <div class="md:col-span-8 col-span-12 relative">
        <div class="hidden md:block absolute rounded-t-[15px] sm:rounded-t-[20px] bg-[#f6f6f6] shadow-4 h-5 inset-x-0 -top-[31px] xl:-top-[47px]">
        </div>
        <div class="grid grid-cols-2 lg:grid-cols-4 gap-3 md:gap-4 xl:gap-8">
            <div class="bg-[#EEEEEE] rounded-[16px] sm:rounded-[20px] text-center pt-4 sm:pt-[22px] p-3 sm:p-[15px]">
                <svg class="mx-auto" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.3333 13.4167C15.3333 9.73952 15.3333 7.89969 16.5044 6.65983C16.6971 6.45604 16.9103 6.26874 17.1425 6.09987C18.5894 5.03334 20.7484 5.03334 25.0698 5.03334H26.7346C31.0546 5.03334 33.2162 5.03334 34.6631 6.10139C34.894 6.2694 35.1081 6.45604 35.3017 6.65983C36.4728 7.89969 36.4728 9.73894 36.4728 13.4167C36.4728 17.0938 36.4728 18.9336 35.3017 20.1735C35.1069 20.3776 34.8936 20.5655 34.6631 20.7352C33.2824 21.7572 31.4106 21.8471 27.7773 21.8522M3.83325 24.9167H23.8333M16.2917 11.3333H36.4728M3.83325 14.6667C3.83325 9.09072 8.17902 4.60494 13.746 4.51225L12.3477 7.42898M36.4728 24.9167C36.4728 30.4927 32.127 34.9784 26.56 35.0711L27.9583 32.1544M3.83325 26.8333C3.83325 30.5105 3.83325 32.3503 5.00438 33.5902C5.19704 33.794 5.4102 33.9813 5.64246 34.1501C7.08932 35.2167 9.24836 35.2167 13.5698 35.2167H15.2346C19.5546 35.2167 21.7162 35.2167 23.1631 34.1486C23.394 33.9818 23.6081 33.7953 23.8017 33.5902C24.9728 32.3503 24.9728 30.5111 24.9728 26.8333C24.9728 23.1562 24.9728 21.3164 23.8017 20.0765C23.607 19.8724 23.3936 19.6845 23.1631 19.5148C21.7162 18.4483 19.5596 18.4483 15.2346 18.4483H13.5698C9.25096 18.4483 7.08932 18.4483 5.64246 19.5158C5.41104 19.6842 5.19693 19.8708 5.00438 20.0765C3.83325 21.3164 3.83325 23.1556 3.83325 26.8333Z" stroke="#110E2D" stroke-width="2.3" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <div class="mx-auto mt-7 relative z-0 bg-secondary text-white w-[91px] h-[35px] flex-center rounded-[12px] font-black text-xl">
                    <svg class="-top-[18px] absolute inset-x-0 mx-auto rotate-180 z-10" width="44" height="24" viewBox="0 0 74 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M73.603 0H0C14.1842 0 27.3009 7.53381 34.4478 19.7859L36.8642 23.9282L39.2806 19.7859C46.4065 7.57007 59.4669 0.0443115 73.603 0Z" fill="#ee5d37"></path>
                    </svg>
                    +۱۸۰۰
                </div>
                <div class="rounded-[9px] sm:rounded-[12px] bg-white text-xs sm:text-sm font-semibold text-primary pt-[31px] px-2 p-[15px] -mt-5">
                    دستگاه تعمیر شده
                </div>
            </div>
            <div class="bg-[#EEEEEE] rounded-[16px] sm:rounded-[20px] text-center pt-4 sm:pt-[22px] p-3 sm:p-[15px]">
                <svg class="mx-auto" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.66682 28.7502V13.4168C7.66682 9.802 7.66682 7.9965 8.78999 6.87333C9.91315 5.75016 11.7187 5.75016 15.3335 5.75016H21.0835M38.3335 28.7502V27.7918M34.5002 17.2502H34.5174M34.5002 3.8335C38.115 3.8335 39.9205 3.8335 41.0437 4.95666C42.1668 6.07983 42.1668 7.88533 42.1668 11.5002V15.3335C42.1668 18.9483 42.1668 20.7538 41.0437 21.877C39.9205 23.0002 38.115 23.0002 34.5002 23.0002C30.8853 23.0002 29.0798 23.0002 27.9567 21.877C26.8335 20.7538 26.8335 18.9483 26.8335 15.3335V11.5002C26.8335 7.88533 26.8335 6.07983 27.9567 4.95666C29.0798 3.8335 30.8853 3.8335 34.5002 3.8335ZM6.70465 30.6956L7.70515 28.7502H38.2415L39.2957 30.6956C42.0614 35.7977 42.7514 38.3488 41.6992 40.2578C40.6469 42.1668 37.862 42.1668 32.2883 42.1668H13.712C8.1364 42.1668 5.34957 42.1668 4.29924 40.2578C3.24699 38.3488 3.93699 35.7977 6.70465 30.6956Z" stroke="#110E2D" stroke-width="2.3" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <div class="mx-auto mt-7 relative z-0 bg-secondary text-white w-[91px] h-[35px] flex-center rounded-[12px] font-black text-xl">
                    <svg class="-top-[18px] absolute inset-x-0 mx-auto rotate-180 z-10" width="44" height="24" viewBox="0 0 74 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M73.603 0H0C14.1842 0 27.3009 7.53381 34.4478 19.7859L36.8642 23.9282L39.2806 19.7859C46.4065 7.57007 59.4669 0.0443115 73.603 0Z" fill="#ee5d37"></path>
                    </svg>
                    +۲۰۰
                </div>
                <div class="rounded-[9px] sm:rounded-[12px] bg-white text-xs sm:text-sm font-semibold text-primary pt-[31px] px-2 p-[15px] -mt-5">
                    مشتری فعال
                </div>
            </div>
            <div class="bg-[#EEEEEE] rounded-[16px] sm:rounded-[20px] text-center pt-4 sm:pt-[22px] p-3 sm:p-[15px]">
                <svg class="mx-auto" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.1666 15.3333C19.1666 11.0975 19.1666 8.97767 20.5121 7.56317C20.7267 7.33572 20.9631 7.12681 21.2212 6.93642C22.8236 5.75 25.2232 5.75 30.0283 5.75H31.3048C36.108 5.75 38.5096 5.75 40.1119 6.93833C40.3687 7.12744 40.6051 7.33572 40.8211 7.56317C42.1666 8.97767 42.1666 11.0956 42.1666 15.3333C42.1666 19.5692 42.1666 21.689 40.8211 23.1035C40.6023 23.3315 40.3651 23.5412 40.1119 23.7302C38.6591 24.8074 36.5469 24.9071 32.5832 24.9147M3.83325 28.75H26.8332M19.1666 13.4167H42.1666M3.83325 17.25C3.83325 10.8924 8.97567 5.75 15.3333 5.75L13.6907 9.03517M42.1666 28.75C42.1666 35.1076 37.0242 40.25 30.6666 40.25L32.3092 36.9648M3.83325 30.6667C3.83325 34.9025 3.83325 37.0223 5.17875 38.4368C5.3947 38.6643 5.63109 38.8732 5.88792 39.0636C7.49025 40.25 9.88992 40.25 14.695 40.25H15.9715C20.7747 40.25 23.1762 40.25 24.7786 39.0617C25.0354 38.8738 25.2718 38.6656 25.4877 38.4368C26.8332 37.0223 26.8332 34.9044 26.8332 30.6667C26.8332 26.4308 26.8332 24.311 25.4877 22.8965C25.269 22.6685 25.0318 22.4588 24.7786 22.2698C23.1762 21.0833 20.7766 21.0833 15.9715 21.0833H14.695C9.89183 21.0833 7.49025 21.0833 5.88792 22.2717C5.63478 22.4601 5.39759 22.6691 5.17875 22.8965C3.83325 24.311 3.83325 26.4289 3.83325 30.6667Z" stroke="#110E2D" stroke-width="2.3" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <div class="mx-auto mt-7 relative z-0 bg-secondary text-white w-[91px] h-[35px] flex-center rounded-[12px] font-black text-xl">
                    <svg class="-top-[18px] absolute inset-x-0 mx-auto rotate-180 z-10" width="44" height="24" viewBox="0 0 74 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M73.603 0H0C14.1842 0 27.3009 7.53381 34.4478 19.7859L36.8642 23.9282L39.2806 19.7859C46.4065 7.57007 59.4669 0.0443115 73.603 0Z" fill="#ee5d37"></path>
                    </svg>
                    +۹۸٪
                </div>
                <div class="rounded-[9px] sm:rounded-[12px] bg-white text-xs sm:text-sm font-semibold text-primary pt-[31px] px-2 p-[15px] -mt-5">
                    رضایت مشتریان
                </div>
            </div>
            <div class="bg-[#EEEEEE] rounded-[16px] sm:rounded-[20px] text-center pt-4 sm:pt-[22px] p-3 sm:p-[15px]">
                <svg class="mx-auto" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.83325 3.8335H30.6666C34.2814 3.8335 36.0869 3.8335 37.2101 4.95666C38.3333 6.07983 38.3333 7.88533 38.3333 11.5002V23.0002C38.3333 26.615 38.3333 28.4205 37.2101 29.5437C36.0869 30.6668 34.2814 30.6668 30.6666 30.6668H17.2499M19.1666 12.4585H30.6666M3.83325 32.5835V24.9168C3.83325 23.1094 3.83325 22.2067 4.39484 21.6451C4.95642 21.0835 5.85917 21.0835 7.66659 21.0835H11.4999M3.83325 32.5835H11.4999M3.83325 32.5835V42.1668M11.4999 21.0835V32.5835M11.4999 21.0835H22.9999M11.4999 32.5835V42.1668" stroke="#110E2D" stroke-width="2.3" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M11.4999 12.4583C11.4999 13.475 11.0961 14.45 10.3772 15.1689C9.65827 15.8878 8.68325 16.2917 7.66659 16.2917C6.64992 16.2917 5.6749 15.8878 4.95601 15.1689C4.23712 14.45 3.83325 13.475 3.83325 12.4583C3.83325 11.4417 4.23712 10.4666 4.95601 9.74776C5.6749 9.02887 6.64992 8.625 7.66659 8.625C8.68325 8.625 9.65827 9.02887 10.3772 9.74776C11.0961 10.4666 11.4999 11.4417 11.4999 12.4583Z" stroke="#110E2D" stroke-width="2.3" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <div class="mx-auto mt-7 relative z-0 bg-secondary text-white w-[91px] h-[35px] flex-center rounded-[12px] font-black text-xl">
                    <svg class="-top-[18px] absolute inset-x-0 mx-auto rotate-180 z-10" width="44" height="24" viewBox="0 0 74 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M73.603 0H0C14.1842 0 27.3009 7.53381 34.4478 19.7859L36.8642 23.9282L39.2806 19.7859C46.4065 7.57007 59.4669 0.0443115 73.603 0Z" fill="#ee5d37"></path>
                    </svg>
                    +۲۴/۷
                </div>
                <div class="rounded-[9px] sm:rounded-[12px] bg-white text-xs sm:text-sm font-semibold text-primary pt-[31px] px-2 p-[15px] -mt-5">
                    پشتیبانی
                </div>
            </div>
        </div>
    </div>
</div>
</div>