---
// src/components/sections/About.astro
import Layout from '../layouts/Layout.astro';
import Header from '../components/ui/Header.astro';
import Footer from '../components/sections/Footer.astro';
---
<Layout title="تماس با ما | مافیکسو">
    <Header/>
<section class="mt-10">
  <div class="max-w-content mx-auto px-4 relative">
    
    <!-- هدر بخش -->
    <div class=" relative z-1 items-center">
      <div>
        <h2 class="text-[40px] lg:text-[50px] text-[#110e2d] lg:leading-[139%] font-['Rokh'] text-center lg:text-start">
          <span class="text-[#110E2D80] font-['IRANYekanXFaNum'] font-normal">نوآوری و خلاقیت،</span>
          <span class="font-['Rokh'] font-extrabold">با <br class="hidden sm:block">تیم طراحی </span>
          <span class="text-secondary font-['Rokh'] font-extrabold">مافیکسو</span>
        </h2>
      </div>
    </div>

    <!-- محتوای اصلی -->
    <div class="grid grid-cols-12 gap-y-5  rounded-[15px]   p-4 sm:p-[20px] pb-4 lg:pb-0 items-end lg:-mt-20  relative ">
      <img src="/images/about-mockup.png" alt="" class="absolute top-0 right-0 hidden lg:block">
      <!-- دکوراسیون پس‌زمینه -->
      <div class="ltrReverse hidden lg:block absolute inset-x-0 w-full top-0 h-[410px] bg-gradient-to-b from-[#fdeeea]/30 to-transparent rounded-[30px]"></div>

      <!-- تصویر -->
      <div class="lg:col-span-4 col-span-12 relative lg:w-[80%] lg:h-[80%]">
        <div class="rounded-[15px] sm:rounded-[30px]  bg-gradient-to-br from-[#fdeeea] to-[#fcdfd7] aspect-square flex items-center justify-center shadow-2">
          <span class="text-5xl font-['Rokh'] font-extrabold text-secondary">مافیکسو </span>
        </div>
      </div>

      <!-- متن درباره ما -->
      <div class="lg:col-span-8 col-span-12 relative">
        <p class="text-[#110e2d] leading-[200%] sm:leading-[217%] text-justify lg:pl-16 text-sm sm:text-base font-['IRANYekanXFaNum']">
          <span class="text-secondary font-bold">مافیکسو </span>
          <span class="opacity-60 ">
            یک نرم‌افزار جامع مدیریت تعمیرگاه است که راه‌حل‌های دیجیتال سفارشی‌شده برای تعمیرگاه‌های موبایل، لپ‌تاپ و دستگاه‌های الکترونیکی ارائه می‌دهد. تیم ما متشکل از توسعه‌دهندگان و طراحان حرفه‌ای است که بیش از ۵ سال تجربه در توسعه نرم‌افزارهای مدیریتی دارند.
            
            در هسته مافیکسو، تعهد به سادگی، سرعت و کارایی نهفته است. ما از این تخصص استفاده می‌کنیم تا فرآیندهای پیچیده مدیریت تعمیرگاه را ساده کرده و مزیت رقابتی برای کسب‌وکار شما با استفاده از فناوری فراهم کنیم.
            
            رویکرد ما براساس همکاری و درک متقابل است؛ شامل تعامل صمیمانه با مشتریان و انجام ارزیابی‌های کامل برای درک نیازها و شناسایی چالش‌های موجود. این رویکرد به توسعه راه‌حل‌هایی می‌انجامد که نیازهای فعلی را برآورده کرده و رشد بازار آینده را به همراه خواهد داشت.
          </span>
        </p>

        <!-- دکمه‌ها و کارت افتخارات -->
        <div class="mt-6 flex items-end flex-col sm:flex-row gap-[22px]">
          
          <!-- کارت افتخارات -->
          <div class="rounded-[15px] sm:rounded-[30px] bg-white shadow-2 p-7 pt-8 flex-grow">
            <svg width="30" height="21" viewBox="0 0 30 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g opacity="0.3">
                <path d="M5.7648 21L0 17.9055C1.2452 15.6378 2.12913 13.748 2.65181 12.2362C3.18985 10.7402 3.45888 9.35433 3.45888 8.07874V0H12.6595V7.20472C12.6441 9.91339 11.9985 12.4803 10.7225 14.9055C9.44658 17.3307 7.794 19.3622 5.7648 21Z" fill="#EE5D38"></path>
                <path d="M23.1053 21L17.3405 17.9055C18.5857 15.6378 19.4696 13.748 19.9923 12.2362C20.5304 10.7402 20.7994 9.35433 20.7994 8.07874V0H30V7.20472C29.9846 9.91339 29.339 12.4803 28.063 14.9055C26.7871 17.3307 25.1345 19.3622 23.1053 21Z" fill="#EE5D38"></path>
              </g>
            </svg>
            <p class="text-[#110e2d] opacity-60 leading-[200%] sm:leading-[217%] text-sm sm:text-base text-justify mt-5 font-['IRANYekanXFaNum']">
              <span class="font-bold text-secondary">مافیکسو </span>
              پیشرو در راه‌حل‌های نرم‌افزاری مدیریت تعمیرگاه با اعتباری بی‌بدیل.
              <br />
              با تکیه بر تیم فنی نخبه و تجربه‌ی اثبات‌شده در اکوسیستم تعمیرات ایران، راهکارهای هوشمند دیجیتال را با سه اصل دقت فنی، انطباق‌پذیری بالا و تحویل به‌موقع طراحی و اجرا می‌کنیم. اعتماد تعمیرگاه‌های برتر، گواه تعهد ما به کیفیت و نوآوری است.
            </p>
          </div>

          <!-- دکمه‌ها -->
          <div class="  w-full sm:w-auto flex lg:flex-col gap-3">
            <a href="/contact" class="block w-1/2 ">
              <div class="bg-[#110e2d] btnHover  rounded-[20px] flex lg:flex-col py-3 lg:py-0  items-center justify-center gap-1.5 text-white text-sm  lg:size-24 mr-auto  shadow-2 hover:shadow-xl transition-all duration-300">
                <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.0948 12.5V8.33335M3.76147 12.5V5.83335C3.76147 4.26169 3.76147 3.47669 4.24981 2.98835C4.73814 2.50002 5.52314 2.50002 7.09481 2.50002H10.0115M12.0948 5.00002C12.0948 5.00002 12.9281 5.00002 13.7615 6.66669C13.7615 6.66669 16.409 2.50002 18.7615 1.66669M3.34314 13.3459L3.77814 12.5H17.0548L17.5131 13.3459C18.7156 15.5642 19.0156 16.6734 18.5581 17.5034C18.1006 18.3334 16.8898 18.3334 14.4665 18.3334H6.38981C3.96564 18.3334 2.75397 18.3334 2.29731 17.5034C1.83981 16.6734 2.13981 15.5642 3.34314 13.3459Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <p class="font-['Rokh'] font-bold">تماس با ما</p>
              </div>
            </a>
            <a href="/#pricing" class="block w-1/2">
              <div class="bg-secondary btnHover rounded-[30px] flex lg:flex-col py-3 lg:py-0 items-center justify-center gap-1.5 text-white text-sm  lg:size-24  sm:w-auto shadow-8 hover:shadow-xl transition-all duration-300">
                <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.66667 6.66669H14.1667M6.66667 10H11.6667M18.3333 10C18.3333 14.6024 14.6024 18.3334 10 18.3334C5.39763 18.3334 1.66667 14.6024 1.66667 10C1.66667 5.39765 5.39763 1.66669 10 1.66669C14.6024 1.66669 18.3333 5.39765 18.3333 10Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <p class="font-['Rokh'] font-bold text-center"> قیمت‌ها</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  <Footer/>
</Layout>

<style is:global>
  .btnHover {
    transition: all 0.3s ease;
  }
  .btnHover:hover {
    transform: translateY(-2px);
  }
  .ltrReverse {
    transform: scaleX(-1);
  }
</style>