---
// src/pages/contact.astro
import Layout from '../layouts/Layout.astro';
import Header from '../components/ui/Header.astro';
import Footer from '../components/sections/Footer.astro';
---

<Layout title="تماس با مافیکسو | پشتیبانی و مشاوره رایگان" description='سوالی درباره‌ی مافیکسو دارید؟ تیم پشتیبانی ما آماده‌ی پاسخ‌گویی و راهنمایی برای انتخاب پلن مناسب کسب‌وکار شماست.'>
    <Header/>
  <main class="sm:pt-16 pt-20">
    <section class="mt-10">
      <div class="max-w-content mx-auto px-4 relative">
        <div class="grid grid-cols-12 gap-6 xl:gap-[54px] gap-y-10">
          
          <!-- ========== سمت راست - فرم تماس ========== -->
          <div class="lg:col-span-7 col-span-12 order-last bg-[url(/images/contact-bg.png)] bg-contain bg-no-repeat ">
            <div class="relative">
              
              <!-- دکوراسیون پس‌زمینه -->
              <div class="absolute inset-0  w-full h-full">
                <div class="w-full h-full  bg-gradient-to-br from-[#fdeeea] to-[#fcdfd7] rounded-[30px] opacity-30"></div>
                <div class="bg-[#120F2D24] rounded-b-[20px] mx-[42px] h-6 rtl:lg:mr-[70px] ltr:lg:ml-[70px]"></div>
              </div>

              <!-- هدر فرم -->
              <div class="relative w-[90%] sm:w-[300px] mt-12 sm:mt-10 md:mt-3 rtl:mr-4 rtl:sm:mr-[68px] ltr:ml-4 ltr:sm:ml-[68px] rounded-[20px] sm:rounded-[30px] bg-[#110e2d] flex items-center gap-5 px-5 py-7 h-[70px] shadow-2">
                <svg class="absolute -bottom-[18px] rtl:right-[88px] ltr:left-[88px] z-10" width="44" height="24" viewBox="0 0 74 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M73.603 0H0C14.1842 0 27.3009 7.53381 34.4478 19.7859L36.8642 23.9282L39.2806 19.7859C46.4065 7.57007 59.4669 0.0443115 73.603 0Z" fill="#110e2d"></path>
                </svg>
                <div class="relative">
                  <div class="w-5 h-5 shadow-5 absolute top-1 rtl:right-2 ltr:left-2 bg-[#110e2d]"></div>
                  <svg class="relative" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.75 4.375H11.25M3.75 11.875H11.25M3.75 19.375H26.25M3.75 26.875H26.25M16.9825 12.3925C17.715 13.125 18.8925 13.125 21.25 13.125C23.6075 13.125 24.785 13.125 25.5175 12.3925C26.25 11.66 26.25 10.4825 26.25 8.125C26.25 5.7675 26.25 4.59 25.5175 3.8575C24.785 3.125 23.6075 3.125 21.25 3.125C18.8925 3.125 17.715 3.125 16.9825 3.8575C16.25 4.59 16.25 5.7675 16.25 8.125C16.25 10.4825 16.25 11.66 16.9825 12.3925Z" stroke="#EE5D38" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </div>
                <svg width="1" height="26" viewBox="0 0 1 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <line opacity="0.12" x1="0.5" y1="-2.18557e-08" x2="0.500001" y2="26" stroke="white" stroke-dasharray="5 5"></line>
                </svg>
                <div>
                  <p class="sm:text-xl text-lg font-['Rokh'] font-extrabold text-white">فرم رزرو وقت مشاوره</p>
                </div>
              </div>

              <!-- فرم -->
              <form class="sm:mx-[75px] mx-4 rtl:lg:right-4 ltr:lg:left-4 mt-6 sm:mt-9 bg-gradient-to-br from-[#f9f9f9] to-[#f1f4f7] rounded-[20px] sm:rounded-[30px] p-4 sm:p-[30px] relative shadow-2" action="/api/contact" method="POST">
                
                <!-- نام -->
                <div class="rounded-[15px] mb-5 flex-grow w-full ltr:pr-4 ltr:pl-0 pl-4 flex items-center justify-between gap-3 bg-white text-xs font-normal h-[53px] shadow-sm">
                  <input type="text" class="flex-grow text-[15px] py-4 ltr:pl-4 ltr:pr-0 pr-4 bg-transparent outline-none w-full font-['IRANYekanXFaNum']" placeholder="نام و نام خانوادگی" required>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 24 24">
                    <g opacity="0.5">
                      <path fill="#dddada79" fill-rule="evenodd" d="M7.75 7.5A4.26 4.26 0 0 0 12 11.75a4.26 4.26 0 0 0 4.25-4.25A4.26 4.26 0 0 0 12 3.25a4.26 4.26 0 0 0-4.25 4.25m1.5 0c0-1.52 1.23-2.75 2.75-2.75s2.75 1.23 2.75 2.75-1.23 2.75-2.75 2.75S9.25 9.02 9.25 7.5m8.5 12.5c0 .41.34.75.75.75s.75-.34.75-.75v-2.03c0-1.65-.81-3.06-2.13-3.66-3.07-1.38-7.16-1.39-10.24 0-1.32.6-2.13 2-2.13 3.66V20c0 .41.34.75.75.75s.75-.34.75-.75v-2.03c0-.84.33-1.88 1.25-2.3 2.69-1.21 6.32-1.21 9 0 .92.43 1.25 1.47 1.25 2.3z" stroke="#404040" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path>
                    </g>
                  </svg>
                </div>

                <!-- شماره تماس -->
                <div class="rounded-[15px] mb-5 flex-grow w-full ltr:pr-4 ltr:pl-0 pl-4 flex items-center justify-between gap-3 bg-white text-xs font-normal h-[53px] shadow-sm">
                  <input type="text" class="flex-grow text-[15px] py-4 ltr:pl-4 ltr:pr-0 pr-4 bg-transparent outline-none w-full font-['IRANYekanXFaNum']" placeholder="شماره همراه" required>
                  <svg width="20" height="21" viewBox="0 0 20 21" fill="#dddada79" xmlns="http://www.w3.org/2000/svg">
                    <g opacity="0.5">
                      <path d="M10.833 3C12.6011 3 14.2968 3.70238 15.547 4.95262C16.7973 6.20286 17.4996 7.89856 17.4996 9.66667M11.2496 5.91667C12.1337 5.91667 12.9815 6.26786 13.6067 6.89298C14.2318 7.5181 14.583 8.36594 14.583 9.25M7.6313 5.26L7.2963 4.505C7.0763 4.01167 6.96713 3.765 6.80296 3.57583C6.59758 3.33893 6.32954 3.16476 6.02963 3.07333C5.79046 3 5.51963 3 4.97963 3C4.18963 3 3.79463 3 3.46296 3.15167C3.05382 3.35045 2.73712 3.69939 2.5788 4.12583C2.45963 4.47 2.4938 4.82417 2.56213 5.53333C3.28991 13.075 7.42463 17.2097 14.9663 17.9375C15.6746 18.0058 16.0296 18.04 16.3746 17.9208C16.8006 17.7625 17.1492 17.4462 17.348 17.0375C17.4996 16.705 17.4996 16.31 17.4996 15.52C17.4996 14.9792 17.4996 14.7092 17.4263 14.47C17.3349 14.1701 17.1607 13.902 16.9238 13.6967C16.7346 13.5325 16.488 13.4233 15.9946 13.2033L15.2396 12.8683C14.7046 12.6308 14.438 12.5117 14.1663 12.4858C13.9062 12.4609 13.6438 12.4974 13.4005 12.5925C13.1463 12.6917 12.9213 12.8783 12.4721 13.2533C12.0246 13.6258 11.8013 13.8117 11.528 13.9117C11.2653 14.0025 10.9852 14.0313 10.7096 13.9958C10.4221 13.9542 10.2013 13.8358 9.76046 13.6C8.3888 12.8667 7.63296 12.1108 6.89963 10.7392C6.6638 10.2975 6.5463 10.0775 6.5038 9.78917C6.4683 9.51416 6.49682 9.23467 6.58713 8.9725C6.68713 8.69833 6.8738 8.475 7.2463 8.0275C7.6213 7.5775 7.80796 7.35333 7.90713 7.09917C8.00213 6.85583 8.0388 6.59333 8.0138 6.33333C7.98796 6.0625 7.8688 5.795 7.6313 5.26Z" stroke="#404040" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path>
                    </g>
                  </svg>
                </div>

                <!-- پیام -->
                <div class="mb-5 bg-white overflow-hidden rounded-[15px] h-[144px] flex text-xs shadow-sm">
                  <textarea class="bg-transparent text-[15px] flex-grow-1 outline-none w-full h-full p-4 text-sm resize-none font-['IRANYekanXFaNum']" placeholder="توضیحات شما"></textarea>
                  <svg class="m-4" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g opacity="0.5">
                      <path d="M11.8084 17.4084C15.2951 17.1775 18.0718 14.3609 18.3001 10.825C18.3443 10.1334 18.3443 9.41669 18.3001 8.72503C18.0718 5.19003 15.2951 2.37503 11.8084 2.14253C10.6042 2.06317 9.39602 2.06317 8.19177 2.14253C4.7051 2.37419 1.92843 5.19003 1.7001 8.72586C1.65596 9.42517 1.65596 10.1266 1.7001 10.8259C1.78343 12.1134 2.3526 13.3059 3.02343 14.3125C3.4126 15.0167 3.15593 15.8959 2.7501 16.665C2.45843 17.2192 2.31177 17.4959 2.42927 17.6959C2.54593 17.8959 2.80843 17.9025 3.3326 17.915C4.3701 17.94 5.06927 17.6467 5.62427 17.2375C5.93843 17.005 6.09593 16.8892 6.20427 16.8759C6.3126 16.8625 6.52677 16.9509 6.95343 17.1259C7.33677 17.2842 7.7826 17.3817 8.19093 17.4092C9.37843 17.4875 10.6193 17.4875 11.8093 17.4092M9.99593 10H10.0043M13.3259 10H13.3334M6.66677 10H6.67427" stroke="#404040" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path>
                    </g>
                  </svg>
                </div>


                <!-- دکمه ارسال -->
                <button type="submit" class="bg-[#110e2d] btnHover flex items-center justify-center gap-2 h-[53px] text-sm w-full cursor-pointer rounded-[15px] text-white font-bold font-['Rokh'] shadow-lg hover:shadow-xl transition-all duration-300">
                  <p>ارسال درخواست</p>
                  <svg class="rotate-0" width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.5" d="M17.1663 11.125C17.3321 11.125 17.4911 11.0592 17.6083 10.9419C17.7255 10.8247 17.7913 10.6658 17.7913 10.5C17.7913 10.3342 17.7255 10.1753 17.6083 10.0581C17.4911 9.94085 17.3321 9.875 17.1663 9.875V11.125ZM17.1663 9.875H3.83301V11.125H17.1663V9.875Z" fill="white"></path>
                    <path d="M8.83301 5.5L3.83301 10.5L8.83301 15.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </button>
              </form>
            </div>
          </div>

          <!-- ========== سمت چپ - اطلاعات تماس ========== -->
          <div class="lg:col-span-5 col-span-12 ">
            <div>
              
              <!-- هدر -->
              <div class="mb-[26px]">
                <h2 class="text-3xl sm:text-[48px] font-['Rokh'] font-extrabold text-center">
                  <span class="text-[#110e2d]">تماس با تیم {` `}</span>
                  <span class="text-secondary">مافیکسو</span>
                </h2>
                <p class="text-center opacity-50 leading-6 sm:leading-10 sm:text-lg mt-1 sm:mt-1 font-['IRANYekanXFaNum']">
                  با کارشناسان و تیم مافیکسو به راحتی در ارتباط باشید!
                </p>
              </div>

              <!-- شماره تماس و ایمیل -->
              <div class="mb-6 xl:mb-[46px] rounded-[18px] bg-white shadow-2 px-5 py-6 relative grid grid-cols-1 xl:grid-cols-2 gap-5">
                <svg class="-top-[5px] rtl:right-[46px] ltr:left-[46px] absolute z-10" width="44" height="24" viewBox="0 0 74 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M73.603 0H0C14.1842 0 27.3009 7.53381 34.4478 19.7859L36.8642 23.9282L39.2806 19.7859C46.4065 7.57007 59.4669 0.0443115 73.603 0Z" fill="#eaeaea"></path>
                </svg>
                
                <!-- شماره تماس -->
                <div class="flex items-center gap-5">
                  <svg class="flex-shrink-0" width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.9404 14.7268C20.5437 15.1493 21.6595 15.6856 22.6735 16.341C24.1729 17.3116 24.8164 19.0601 24.6398 20.748C24.564 21.4608 23.9898 21.8021 23.3235 21.6168L21.8188 21.2008C20.6271 20.8704 20.0313 20.7057 19.6673 20.2691C19.3033 19.8326 19.261 19.2302 19.1754 18.0266L18.9404 14.7268ZM18.9404 14.7268C15.6936 13.8699 11.9789 13.8688 8.72887 14.7268M8.72887 14.7268C7.12553 15.1493 6.0097 15.6856 4.9957 16.341C3.49637 17.3116 2.85287 19.0601 3.02945 20.748C3.10528 21.4608 3.67945 21.8021 4.3457 21.6168L5.85045 21.2008C7.04212 20.8704 7.63795 20.7057 8.00195 20.2691C8.36595 19.8326 8.4082 19.2302 8.49378 18.0266L8.72887 14.7268ZM13.8346 4.33331V7.4284M20.3346 8.2019L17.7346 9.74998M7.33462 8.2019L9.93462 9.74998" stroke="#EE5D38" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                  <div class="text-[#110e2d] rtl:pr-4 ltr:pl-4 border-[#00000012] rtl:border-r-2 ltr:border-l-2 border-dashed relative">
                    <p class="mt-2 font-['Rokh'] font-extrabold text-xs sm:text-lg">شماره تماس</p>
                    <p class="mt-2 opacity-60 text-[10px] sm:text-sm sm:leading-7 leading-6 font-['IRANYekanXFaNum']">
                      پشتیبانی ۲۴ ساعته تیم مافیکسو
                      <span class="font-bold text-secondary">09219811980</span>
                    </p>
                  </div>
                </div>

                <!-- ایمیل -->
                <div class="flex items-center gap-5">
                  <svg class="flex-shrink-0" width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.58008 5.41663L10.0692 9.66871C12.8057 11.2211 14.0212 11.2211 16.7577 9.66871L24.2467 5.41663" stroke="#EE5D38" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M11.7883 21.125C11.2823 21.1183 10.7764 21.1085 10.2706 21.0957C6.85913 21.0101 5.15397 20.9679 3.92872 19.7361C2.70347 18.5055 2.66772 16.8436 2.59622 13.5211C2.5734 12.4548 2.5734 11.3882 2.59622 10.322C2.66772 6.99939 2.70347 5.33864 3.92872 4.10689C5.15397 2.87622 6.85913 2.83397 10.2706 2.74839C12.3654 2.69552 14.4612 2.69552 16.556 2.74839C19.9675 2.83397 21.6726 2.87622 22.8979 4.10689C24.1231 5.33755 24.1589 6.99939 24.2304 10.322C24.2401 10.8149 24.2455 11.0456 24.2466 11.375" stroke="#EE5D38" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M20.9971 18.4166C20.9971 18.8476 20.8259 19.2609 20.5211 19.5657C20.2164 19.8704 19.803 20.0416 19.3721 20.0416C18.9411 20.0416 18.5278 19.8704 18.223 19.5657C17.9183 19.2609 17.7471 18.8476 17.7471 18.4166C17.7471 17.9857 17.9183 17.5723 18.223 17.2676C18.5278 16.9628 18.9411 16.7916 19.3721 16.7916C19.803 16.7916 20.2164 16.9628 20.5211 17.2676C20.8259 17.5723 20.9971 17.9857 20.9971 18.4166ZM20.9971 18.4166V18.9583C20.9971 19.3893 21.1683 19.8026 21.473 20.1073C21.7778 20.4121 22.1911 20.5833 22.6221 20.5833C23.053 20.5833 23.4664 20.4121 23.7711 20.1073C24.0759 19.8026 24.2471 19.3893 24.2471 18.9583V18.4166C24.2471 17.4524 23.9612 16.5099 23.4255 15.7082C22.8898 14.9065 22.1284 14.2817 21.2377 13.9127C20.3469 13.5437 19.3667 13.4472 18.421 13.6353C17.4753 13.8234 16.6067 14.2877 15.9249 14.9695C15.2431 15.6513 14.7788 16.5199 14.5907 17.4656C14.4026 18.4112 14.4992 19.3914 14.8682 20.2822C15.2371 21.173 15.862 21.9344 16.6637 22.47C17.4654 23.0057 18.4079 23.2916 19.3721 23.2916" stroke="#EE5D38" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                  <div class="text-[#110e2d] rtl:pr-4 ltr:pl-4 border-[#00000012] rtl:border-r-2 ltr:border-l-2 border-dashed relative">
                    <p class="mt-2 font-['Rokh'] font-extrabold text-xs sm:text-lg">آدرس ایمیل</p>
                    <p class="mt-2 opacity-60 text-[10px] sm:text-sm sm:leading-7 leading-6 font-['IRANYekanXFaNum']">
                      پشتیبانی مشکلات فنی از طریق ایمیل
                      <span class="text-secondary">info@mafixo.com</span>
                    </p>
                  </div>
                </div>
              </div>

              <!-- آدرس -->
              <div class="mb-6 xl:mb-[46px] rounded-[18px] bg-white shadow-2 flex items-center gap-5 px-5 py-6 relative">
                <svg class="-top-[5px] rtl:right-[46px] ltr:left-[46px] absolute z-10" width="44" height="24" viewBox="0 0 74 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M73.603 0H0C14.1842 0 27.3009 7.53381 34.4478 19.7859L36.8642 23.9282L39.2806 19.7859C46.4065 7.57007 59.4669 0.0443115 73.603 0Z" fill="#e9e9e9"></path>
                </svg>
                <svg class="flex-shrink-0" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M23.8332 10.8333V9.9851C23.8332 7.88343 23.8332 6.83368 23.1983 6.18043C22.5635 5.52826 21.543 5.52826 19.4998 5.52826H17.2476C16.2542 5.52826 16.2455 5.5261 15.3518 5.07868L11.7432 3.27276C10.2363 2.51876 9.48225 2.14176 8.6795 2.16776C7.87675 2.19376 7.14984 2.61951 5.69059 3.47101L4.36134 4.24668C3.28992 4.87176 2.75475 5.18485 2.46117 5.70485C2.1665 6.22485 2.1665 6.85751 2.1665 8.12393V17.0257C2.1665 18.6886 2.1665 19.5206 2.537 19.9832C2.784 20.2919 3.12959 20.4988 3.512 20.5682C4.08617 20.6711 4.79034 20.2605 6.1965 19.4393C7.152 18.8814 8.07067 18.3018 9.21359 18.4589C10.1713 18.5911 11.0607 19.1956 11.9165 19.6235M8.6665 2.16668V18.4167M16.2498 5.41668V10.2917" stroke="#EE5D38" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M18.9584 17.875H18.9681M19.8337 23.491C19.596 23.7121 19.283 23.8345 18.9584 23.8333C18.6312 23.8333 18.3181 23.7109 18.083 23.4899C15.9315 21.4641 13.0499 19.1999 14.455 15.9142C15.2155 14.1375 17.0409 13 18.9584 13C20.8759 13 22.7024 14.1375 23.4618 15.9142C24.8658 19.1967 21.9906 21.4728 19.8337 23.491Z" stroke="#EE5D38" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <div class="text-[#110e2d] rtl:pr-4 ltr:pl-4 border-[#00000012] rtl:border-r-2 ltr:border-l-2 border-dashed relative">
                  <p class="mt-2 font-['Rokh'] font-extrabold text-xs sm:text-lg">آدرس دفتر</p>
                  <p class="mt-2 opacity-60 text-[10px] sm:text-sm sm:leading-7 leading-6 font-['IRANYekanXFaNum']">
                    قزوین - شهر صنعتی البرز - بلوار سهروردی - ما بین حکمت اول و سوم - ساختمان چمران
                  </p>
                </div>
              </div>

              <!-- نقشه -->
              <iframe class="rounded-[20px] overflow-hidden w-full h-56 sm:h-[200px] shadow-md" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1616.0680753757124!2d50.08057843980947!3d36.198889235649816!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8cadbf407d90c7%3A0xd4297f225533f131!2zNTNYSCtYSjPYjCDYtNmH2LEg2LXZhti52KrbjCDYp9mE2KjYsdiy2Iwg2KfbjNix2KfZhg!5e0!3m2!1sfa!2sus!4v1783458192292!5m2!1sfa!2sus" width="600" height="200" style="border:0;" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>

        </div>
      </div>
    </section>
  </main>
  <Footer/>
</Layout>

<style is:global>
  .btnHover {
    transition: all 0.3s ease;
  }
  .btnHover:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 30px rgba(17, 14, 45, 0.3) !important;
  }
  .ltrReverse {
    transform: scaleX(-1);
  }
  .rtl\\:mr-auto {
    margin-right: auto;
  }
  .ltr\\:ml-auto {
    margin-left: auto;
  }
  .rtl\\:right-1 {
    right: 0.25rem;
  }
  .ltr\\:left-1 {
    left: 0.25rem;
  }
</style>