---
interface Props {
  title: string;
  description?: string;
}

const { 
  title = "test", 
  description = "راویکس، نرم‌افزار هوشمند مدیریت تعمیرگاه. افزایش سرعت، کاهش خطای انسانی و مدیریت بی‌نقص حسابداری و کارگاه." 
} = Astro.props;
---

<!doctype html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>